{% extends "base.html" %}

{% block title %}Comment{% endblock %}
{% block content %}
<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">

    <form action="/comment/{{ suggestion_id }}/" method="post">
        {% csrf_token %}
        <h4 class="text-center">Comment</h4>
        {{ form_instance }}
        <input type="submit" class="button expanded" value="Comment" />
    </form>
  </div>
</div>
{% endblock %}
