{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="grid-container">
  <div class="grid-x grid-padding-x">
      <div class="large-12 cell">
        <h1>Hello World Template</h1>
      </div>
      <div id="app-4">
        <ul>
          <li v-for="todo in suggestions">
            {% verbatim %}
            {{ todo.suggestion }}
            {% endverbatim %}
          </li>
        </ul>
      </div>

  </div>
</div>
{% if page %}
<h2>Page {{ page }}</h2>
{% endif %}
<form action="/" method="post">
    {% csrf_token %}
    {{ form_instance }}
    <input type="submit" class="button" value="Submit">
</form>

{% endblock %}

{% block scripts %}
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
<script src="{% static "js/my_vue.js" %}"></script>
{% endblock %}
